{% extends '_layouts/base.njk' %}
{% block page_title %}{{entry.name}}{% endblock %}
{% block page_description %}{{entry.name}}{% endblock %}


{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-3">
      {% block info %}
        <h2>{{entry.name}}</h2>
        <img src="{{ entry.imagebw }}" alt="{{ entry.name }}" class="img-fluid">
  {% endblock %}
    </div>
      {% block story %}
    <div class="col-sm-6">
      <h2>Biography</h2>
      <div id="bio" class="overflow-auto">
        <p>{{entry.text | safe}}</p>
      </div>
    </div>
    <div class="col-sm-3">
      <h2>Quick Facts</h2>
        <ul id="quickfacts">
          <li>Instruments: {{entry.instruments}}</li>
          <li>Band Tenure: {{entry.tenure}}</li>
          <li>Birthplace: {{entry.birthplace}}</li>
          <li>Born: {{entry.birthdate}}</li>
        </ul>
    </div>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
