/* nav */

.navbar {
  margin-bottom: 20px;
  background-color: navy;
  font-family: 'New Rocker', cursive;
  font-size: large;
}
.navbar a{
  color: grey !important;
}
li {
  margin-right: 120px;
}
.navbar-brand {
  margin-right: 120px;
  font-size: larger;
}
.dropdown-menu {
  background-color: navy;
}
.navbar-toggle .collapsed {
  background-color: rgb(200, 255, 0) !important;
}
